{% extends 'base.html' %}
{% block myContent %}



<h1>Mount Zion</h1>
    <table class="table">
        <tr>
            <td>Stud Name</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Rollno</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Admission NO</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-primary">Submit</button></td>
        </tr>
    </table>

{% endblock %}

    